.transactionTable {
    margin: 0 !important;
}

.th, .td {
    padding: 20px 40px !important;
}

.arrowUp {
    color: green;
}

.arrowDown {
    color: red;
}

.returnButton {
    position: relative;
    bottom: 90px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: teal;
    border-radius: 5px;
    padding: 15px 30px;
    cursor: pointer;
    transition: .5s;
}

.returnButton:hover {
    background-color: #06aea8;
}