.infoContent {
    width: 32.2%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    border-radius: 3px;
    box-shadow: 2px 2px 5px black;
}

.infoContentGreen {
    width: 32.2%;
    height: auto;
    background-color: #49AA26;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    border-radius: 3px;
    box-shadow: 2px 2px 5px black;
}

.categoryContent {
    display: flex;
    justify-content: space-between;
}

.contentIcon {
    display: flex;
    align-items: center;
}

.type {
    font-weight: bold;
    margin: 0;
}

.valueContent {
    text-align: left;
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    padding: 20px 0;
}

@media (max-width: 1000px) {
    .infoContent {
        width: 70%;
    }

    .infoContentGreen {
        width: 70%;
    }
}

@media (max-width: 350px) {
    .valueContent {
        font-size: 1.4rem;
    }
}