.container {
    width: 100%;
}

.containerTable {
    width: 100%;
    display: flex;
    justify-content: center;
}

.table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}

.th {
    border-bottom: 1px solid black;
    padding: 20px 40px;
    text-align: left;
}

.td {
    padding: 15px 40px;
    text-align: left;
}

.tdTrash {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trash {
    cursor: pointer;
}

.viewButton {
    text-decoration: none;
    color: white;
    background-color: teal;
    border-radius: 5px;
    padding: 3px 8px;
}

.viewButton:hover {
    background-color: #06aea8;
}

.arrowUp {
    color: green;
}

.arrowDonw {
    color: red;
}

@media (max-width: 1000px) {
    .container {
        display: flex;
        justify-content: center;
    }

    .containerTable {
        width: 70%;
        overflow: auto;
        border-radius: 10px;
        box-shadow: 2px 2px 5px black;
    }

    .tdTrash {
        column-gap: 30px;
    }

    .td, .th {
        padding: 20px 10px 20px 40px;
    }
}

@media (max-width: 590px) {
    .containerTable {
        width: 100%;
    }
}