.transactionTable {
    margin: 0 !important;
}

.th, .td {
    padding: 20px 40px !important;
}

.tdTrash {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trash {
    cursor: pointer;
}

.viewButton {
    text-decoration: none;
    color: white;
    background-color: #49AA26;
    border-radius: 5px;
    padding: 3px 8px;
}

.viewButton:hover {
    background-color: #429723;
}

.arrowUp {
    color: green;
}

.arrowDown {
    color: red;
}

@media (max-width: 1000px) {
    .tdTrash {
        column-gap: 50px;
    }
}