.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 15px;
    flex-wrap: wrap;
    width: 100%;
}

.iconEntry {
    color: rgb(2, 161, 2);
    font-size: 1.3rem;
}

.iconExit {
    color: rgb(219, 8, 8);
    font-size: 1.3rem;
}

@media (max-width: 1000px) {
    .container {
        justify-content: center;
    }
}