.header {
    background-color: #2D4A22;
    width: 100%;
    height: 200px;
    text-align: center;
    box-shadow: 2px 2px 5px black;
    border-radius: 0 0 25% 25%;
    position: absolute;

    h1 {
        padding-top: 35px;
        color: white;
        font-family: "Play", sans-serif;
        font-weight: 400;
    }
}