.addTransactionAria {
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    background-color: white;
    height: auto;
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;

    label {
        font-weight: bold;
    }
}

.inputContent {
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 5px;

    input {
        border: 1px solid black;
        border-radius: 5px;
        padding: 3px;
        outline: none;
        text-indent: 10px;
        font-weight: 500;
    }
}

.select {
    border: 1px solid black !important;
}

.addButton {
    padding: 15px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    background-color: teal;
    color: white;
    cursor: pointer;
    transition: .5s;
}

.addButton:hover {
    background-color: #06aea8;
}

@media (max-width: 1000px) {
    .addTransactionAria {
        width: 70%;
        flex-direction: column;
        row-gap: 20px;
    }

    .inputContent {
        width: 100%;
        input {
            height: 40px;
        }
    }
}